.container {
  overflow: hidden;
  width: 50%;
  border: 0.01em solid black;
  border-radius: 1em;
  padding: 1em;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: flex-start;
}
.li {
  font-size: small;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-top: 2em;
}
.dot {
  background-color: rgba(0, 0, 0, 0.432);
  align-self: flex-start;
  border-radius: 100%;
  margin: 1em;
  padding: 0.3em;
}
p {
}
